<div class="col-xs-8 col-xs-offset-2">

  <input type="text" class="form-control" [(ngModel)]="carName"
         placeholder="Enter Car Model">
  <input type="text" class="form-control" [(ngModel)]="carColor"
  placeholder="Enter Car Color">
  <button class="btn btn-success" (click)="addCar()">Add Car</button>
  <hr>
  <button class="btn btn-primary" (click)="loadCars()">Load Cars</button>
</div>
<hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let car of cars">
    car name: {{car.name}}(color: {{car.color}})
    <button class="btn btn-xs btn-info" (click)="setNewColor(car)">Change color</button>
    <button class="btn btn-xs btn-danger" (click)="deleteCar(car)">delete</button>
    <span class="badge badge-secondary"
          [ngStyle]="{background: car.color}"
    >ID:{{car.id}}</span>
  </li>
</ul>
